@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #303030;
  color: #dfdccd;
}

input::placeholder {
  color: #7d7587;
}

.height-main {
  height: calc(100vh - 3rem);
}

* {
  scrollbar-color: rgba(129, 129, 129, 0.582) transparent;
  scrollbar-width: thin;
}
